.post-content {
    text-align: justify;
}

.cv-container {
    display: flex;
}

.cv-heading {
    margin-bottom: 10px;
    width: 75%;
    text-align: left;
}

.cv-content {
    text-align: left;
}

.cv-date {
    margin-bottom: 10px;
    display: block;
    width: 25%;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .cv-container {
        flex-direction: column-reverse;
    }
    .cv-heading {
        width: 100%;
    }
    .cv-content {
        width: 100%;
    }
    .cv-date {
        width: 100%;
        text-align: center;
    }
}
