.post-content {
    text-align: justify;
}

.cv-container {
    display: flex;
}

.cv-heading {
    /* margin-bottom: 10px; */
    /* width: 75%; */
    text-align: left;
}

.cv-content {
    text-align: left;
    flex: 3 0 0;
    margin-bottom: 5px;
    /* flex-basis: 75%; */
    /* flex: 3; */
    /* flex-grow: 1; */
}

.cv-body {
    text-align: left;
    width: 75%;
    margin-bottom: 5px;

}

.cv-date {
    margin-bottom: 10px;
    flex: 1 0 0;
    /* flex: 1; */
    /* flex-grow: 1; */
    text-align: right;
}

@media screen and (max-width: 900px) {
    .cv-body {
        width: 100%;
    }
}

@media screen and (max-width: 684px) {
    .cv-container {
        flex-direction: column-reverse;
    }
    .cv-heading {
        width: 100%;
    }
    .cv-content {
        width: 100%;
    }
    .cv-date {
        width: 100%;
        text-align: center;
    }
}
